*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.main{
    height:50vh;
    width:30vw;
    border:2px solid #d0c6b8 ;
    color: rgb(0, 0, 0);
    margin: 200px auto;
    display: flex;
    border-radius:20%;
    
}
.box1{
    height:100%;
    width:50%
}

.box2{
    height:100%;
    width:50%;
    background-color:rgb(201, 198, 190);
}
.img-tag{
    height:100%;
   width:100%
}
.hello{
    font-size:smaller;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 14px;
    margin-top: 7px;
    letter-spacing:2px;
}

.sub{
 font-size:18px;
 margin-top:30px;
 margin-left:9px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
}

.para{
    font-size: 10px;
    margin-top: 30px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.new-price {
  font-size: 15px;
  font-weight: bold;
  color: #1a7f31; 
  margin-top:5px;
  margin-left: 15px;
  padding: 10px 10px 10px 10px;
}
.old-price {
  font-size: 15px;
  color: gray;
  margin-left: 10px;
  text-decoration: line-through;
}


.button-action{
    height: 7vh;
    width: 12vw;
    background-color: rgb(6, 117, 6);
    color: white;
    font-size: 10px; 
    margin-top:30px;
    margin-left: 21px;
    padding: 8px 20px 10px 8px;
    margin-right:13px;
    margin-bottom: 10px;
    border: 1px solid  rgb(201, 198, 190);
    border-radius: 3%;
    cursor: pointer;
}

button-action:hover{
    color: aquamarine;
    background-color: bisque;


}